 <h5 class="loginCard__header">RESET</h5>
       <form class="loginCard__userlogin--form" (ngSubmit)="resetSubmit(reset)" #reset=ngForm>
       	<p *ngIf="resetMessageStatus" class="resetMessage">If you are registered with us you will recive email for password reset</p>
		<label class="loginCard__username--label">Email</label>
		<input type="text" class="loginCard__username" autocomplete="off" ngModel name="username" required email #username=ngModel
		[ngClass]="{'warning':username.touched && username.invalid}" (click)="resetEmailInput()">
		<p class="warningMessage" *ngIf="username.touched && username.invalid">Valid Email required</p>
		 <button class="loginSubmit" [disabled]="reset.invalid" type="submit">Reset</button> 

         </form>