<div class="spinnerWrapper" >
<div class="loadingio-spinner-spinner-s2pg4bnp2s8">
	
	<div class="{{spinnerClass}}" >
		<div class="nodeWrapper" #spinnerNodeParent>
<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
</div>
<p class="loadingMessage" *ngIf="spinnerClass==='ldio-q9tbp963vv1' && !spinnerBlog">Loading Chats</p>
<p class="loadingMessage" *ngIf="spinnerBlog">Loading Blog</p>
</div>

</div>

<!--<p class="loadingMessage" *ngIf="spinnerClass==='ldio-q9tbp963vv1'">Loading Chats</p>-->

</div>
